.random-module
	width 100%
	height 100%
	border 2px solid
	.header-module
		height 60px
		width 100%
		background #6c757d
		color white
	.container-module
		height calc(100% - 60px)
		display flex
		flex-direction column
		border 2px solid red
		.calendar-area
			height 40%
			display flex
			border 1px solid red
			.preview-calendar
				flex 2
				border 1px solid
			.options-calendar
				flex 1
				border 1px solid
		.actividades-area
			height 70% 
			display flex
			flex-direction column
			border 2px solid green
			.formulario
				width 100%
				height 60px
				display flex
				align-items center
				border 1px solid
				.input-actividad
					flex 1
					width 100%
					min-height 35px 
					padding 5px
					font-size .8em
					border 1px solid rgba(0,0,0,0.2)
			.despliegue-actividades
				width 100%
				height calc(100% - 60px)
				overflow auto
				border 2px solid blue
				.marked
					background #48cae4
				.item-act-random
					width 100%
					display flex
					border-radius 5px
					margin-top 5px
					color gray
					border 1px solid rgba(0,0,0,.2)
					&:hover
						border 1px solid gray
					.agarrate-act
						display flex
						min-height 40px
						flex 2
						border 1px solid
						align-items center
						.random-ref
							width 80px
							height 100%
							display flex
							align-items center
							justify-content center
							font-weight bold
							border 1px solid
					.options-act-random
						width 70px
						display flex
						align-items center
						justify-content space-around
						border 1px solid red
						.option-act
							color #6c757d
							border none
							&:hover
								margin 0px
								border 1px solid rgba(0,0,0,.2)
								border-radius 13px
