.login-csc
	width 500px
	height 400px
	display flex
	justify-content center
	align-items center
	border-radius 15px
	background #FFFF
	.contenedor-login
		width 80%
		height 50%
		display flex
		flex-wrap wrap
		justify-content center
		// flex-direction column
		// align-content space-around
		// border 1px solid
		.item-login
			width 80%
			height 30px
			border none
			border-bottom 2px solid rgba(0,0,0,.2)
		span
			width 80%
			height 30px
			font-size .9em
			text-align center
		.btn-login
			font-weight bold
			border none
			background #94d2bd
			&:hover
				background #264653
				color #FFFF
			